h1{
    color: white;
    font-size: 50px;
    text-align: center;
}
body{
    background-image: url(https://s2.glbimg.com/qR-_f9CjRKY1Oyl7UxS_Y1BemOE=/e.glbimg.com/og/ed/f/original/2020/03/26/abbey-road.jpg);
    background-size: 2000px;
}
h6{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
h5{
    color: white;
}